In [46]:
import pandas as pd
import numpy as np

In [47]:
df = pd.read_csv('RELIANCE.NS.csv',parse_dates = ['Date'] )
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2000-01-03,36.747459,38.944569,36.747459,38.944569,29.869350,28802010.0
1,2000-01-04,39.981236,42.062302,38.882679,42.062302,32.260563,61320457.0
2,2000-01-05,39.710464,44.545658,39.710464,43.710136,33.524399,173426953.0
3,2000-01-06,44.715855,46.526150,44.715855,45.543640,34.930637,101355113.0
4,2000-01-07,45.644211,49.187443,45.334759,48.669109,37.327774,128426756.0

In [48]:
series = df['Close']

In [49]:
series

0         38.944569
1         42.062302
2         43.710136
3         45.543640
4         48.669109
           ...
5353    1985.650024
5354    1963.150024
5355    1970.050049
5356    1976.099976
5357    2094.800049
Name: Close, Length: 5358, dtype: float64

In [50]:
series1 = df['Close'].rolling(window = 15).mean()

In [51]:
for i in range(0,14):
    series1[i] = series[i]
series1

0         38.944569
1         42.062302
2         43.710136
3         45.543640
4         48.669109
           ...
5353    1952.483341
5354    1952.756673
5355    1956.320011
5356    1960.053345
5357    1970.973348
Name: Close, Length: 5358, dtype: float64

In [52]:
df['moving_average_15'] = series1

In [53]:
df.head(20)

,Date,Open,High,Low,Close,Adj Close,Volume,moving_average_15
0,2000-01-03,36.747459,38.944569,36.747459,38.944569,29.869350,28802010.0,38.944569
1,2000-01-04,39.981236,42.062302,38.882679,42.062302,32.260563,61320457.0,42.062302
2,2000-01-05,39.710464,44.545658,39.710464,43.710136,33.524399,173426953.0,43.710136
3,2000-01-06,44.715855,46.526150,44.715855,45.543640,34.930637,101355113.0,45.543640
4,2000-01-07,45.644211,49.187443,45.334759,48.669109,37.327774,128426756.0,48.669109
5,2000-01-10,49.110077,49.311222,47.237892,47.733013,36.609821,86714866.0,47.733013
6,2000-01-11,47.647915,48.112095,43.919018,44.638493,34.236420,81074352.0,44.638493
7,2000-01-12,44.715855,47.191475,43.655979,46.680878,35.802864,78264129.0,46.680878
8,2000-01-13,47.346199,48.955353,47.052219,48.251347,37.007366,110363002.0,48.251347
9,2000-01-14,47.887741,49.767666,47.887741,48.939880,37.535461,86996234.0,48.939880
10,2000-01-17,49.241596,49.961071,47.508663,47.771698,36.639496,69343031.0,47.771698
11,2000-01-18,47.810379,49.349903,47.276573,48.614956,37.286251,65168824.0,48.614956
12,2000-01-19,49.953335,50.270523,48.924408,49.450478,37.927071,74204601.0,49.450478
13,2000-01-20,49.512367,50.270523,48.050205,48.406075,37.126041,99716250.0,48.406075
14,2000-01-21,48.382866,50.812065,48.274555,50.494877,38.728085,110757441.0,46.660763
15,2000-01-24,50.363361,51.345871,49.821819,50.463932,38.704365,85074833.0,47.428721
16,2000-01-25,50.293732,50.332417,49.241596,49.504631,37.968609,63033619.0,47.924876
17,2000-01-26,49.504631,49.504631,49.504631,49.504631,37.968609,0.0,48.311176
18,2000-01-27,50.904900,52.111767,49.930126,51.825523,39.748669,97039553.0,48.729968
19,2000-01-28,51.972511,52.900867,51.307190,52.351589,40.152142,75838844.0,48.975467

In [54]:
series2 = df['Close'].rolling(30).mean()

In [55]:
for i in range(0,29):
    series2[i] = series[i]
series2

0         38.944569
1         42.062302
2         43.710136
3         45.543640
4         48.669109
           ...
5353    1951.665011
5354    1950.258346
5355    1949.858346
5356    1952.023344
5357    1957.456677
Name: Close, Length: 5358, dtype: float64

In [56]:
df['moving_average_30'] = series2

In [57]:
df.head(35)

,Date,Open,High,Low,Close,Adj Close,Volume,moving_average_15,moving_average_30
0,2000-01-03,36.747459,38.944569,36.747459,38.944569,29.869350,28802010.0,38.944569,38.944569
1,2000-01-04,39.981236,42.062302,38.882679,42.062302,32.260563,61320457.0,42.062302,42.062302
2,2000-01-05,39.710464,44.545658,39.710464,43.710136,33.524399,173426953.0,43.710136,43.710136
3,2000-01-06,44.715855,46.526150,44.715855,45.543640,34.930637,101355113.0,45.543640,45.543640
4,2000-01-07,45.644211,49.187443,45.334759,48.669109,37.327774,128426756.0,48.669109,48.669109
5,2000-01-10,49.110077,49.311222,47.237892,47.733013,36.609821,86714866.0,47.733013,47.733013
6,2000-01-11,47.647915,48.112095,43.919018,44.638493,34.236420,81074352.0,44.638493,44.638493
7,2000-01-12,44.715855,47.191475,43.655979,46.680878,35.802864,78264129.0,46.680878,46.680878
8,2000-01-13,47.346199,48.955353,47.052219,48.251347,37.007366,110363002.0,48.251347,48.251347
9,2000-01-14,47.887741,49.767666,47.887741,48.939880,37.535461,86996234.0,48.939880,48.939880
10,2000-01-17,49.241596,49.961071,47.508663,47.771698,36.639496,69343031.0,47.771698,47.771698
11,2000-01-18,47.810379,49.349903,47.276573,48.614956,37.286251,65168824.0,48.614956,48.614956
12,2000-01-19,49.953335,50.270523,48.924408,49.450478,37.927071,74204601.0,49.450478,49.450478
13,2000-01-20,49.512367,50.270523,48.050205,48.406075,37.126041,99716250.0,48.406075,48.406075
14,2000-01-21,48.382866,50.812065,48.274555,50.494877,38.728085,110757441.0,46.660763,50.494877
15,2000-01-24,50.363361,51.345871,49.821819,50.463932,38.704365,85074833.0,47.428721,50.463932
16,2000-01-25,50.293732,50.332417,49.241596,49.504631,37.968609,63033619.0,47.924876,49.504631
17,2000-01-26,49.504631,49.504631,49.504631,49.504631,37.968609,0.0,48.311176,49.504631
18,2000-01-27,50.904900,52.111767,49.930126,51.825523,39.748669,97039553.0,48.729968,51.825523
19,2000-01-28,51.972511,52.900867,51.307190,52.351589,40.152142,75838844.0,48.975467,52.351589
20,2000-01-31,51.748158,51.987984,50.525822,50.773384,38.941696,65866896.0,49.178158,50.773384
21,2000-02-01,51.183407,52.212337,50.750175,51.686268,39.641861,69204877.0,49.648010,51.686268
22,2000-02-02,53.055595,53.674500,52.382538,52.630096,40.365746,64312647.0,50.044624,52.630096
23,2000-02-03,52.916340,53.148430,52.049873,52.862186,40.543751,43764594.0,50.352014,52.862186
24,2000-02-04,53.225792,53.744125,52.869923,53.249001,40.840431,45932185.0,50.639288,53.249001
25,2000-02-07,52.777088,54.069050,52.305172,53.163902,40.775158,52955762.0,50.998769,53.163902
26,2000-02-08,53.457882,53.674500,52.769352,52.978233,40.632755,41561566.0,51.289654,52.978233
27,2000-02-09,53.999424,54.873627,53.349575,54.216042,41.582123,73916538.0,51.607358,54.216042
28,2000-02-10,53.968479,56.289371,53.365047,55.043827,42.217010,69752781.0,52.049875,55.043827
29,2000-02-11,56.320316,57.867577,55.709148,56.212009,43.112968,52710076.0,52.431017,49.545890
30,2000-02-14,55.546684,55.840664,54.154148,54.479076,41.783863,33138542.0,52.698693,50.063707
31,2000-02-15,54.463604,54.834946,52.924076,53.279949,40.864162,52507848.0,52.950381,50.437629
32,2000-02-16,54.154148,54.742111,53.086540,53.867908,41.315105,50905372.0,53.241266,50.776221
33,2000-02-17,53.798279,55.206287,53.767334,54.858154,42.074596,49576753.0,53.443442,51.086705
34,2000-02-18,55.221760,55.384224,53.844700,54.069050,41.469376,32513360.0,53.557939,51.266703

In [58]:
series3 = df['Close'].rolling(60).mean()

In [59]:
for i in range(0,59):
    series3[i] = series[i]
series3

0         38.944569
1         42.062302
2         43.710136
3         45.543640
4         48.669109
           ...
5353    2015.199178
5354    2014.450012
5355    2013.560014
5356    2012.145014
5357    2011.319179
Name: Close, Length: 5358, dtype: float64

In [60]:
df['moving_average_60'] = series3

In [61]:
df.head(60)

,Date,Open,High,Low,Close,Adj Close,Volume,moving_average_15,moving_average_30,moving_average_60
0,2000-01-03,36.747459,38.944569,36.747459,38.944569,29.869350,28802010.0,38.944569,38.944569,38.944569
1,2000-01-04,39.981236,42.062302,38.882679,42.062302,32.260563,61320457.0,42.062302,42.062302,42.062302
2,2000-01-05,39.710464,44.545658,39.710464,43.710136,33.524399,173426953.0,43.710136,43.710136,43.710136
3,2000-01-06,44.715855,46.526150,44.715855,45.543640,34.930637,101355113.0,45.543640,45.543640,45.543640
4,2000-01-07,45.644211,49.187443,45.334759,48.669109,37.327774,128426756.0,48.669109,48.669109,48.669109
5,2000-01-10,49.110077,49.311222,47.237892,47.733013,36.609821,86714866.0,47.733013,47.733013,47.733013
6,2000-01-11,47.647915,48.112095,43.919018,44.638493,34.236420,81074352.0,44.638493,44.638493,44.638493
7,2000-01-12,44.715855,47.191475,43.655979,46.680878,35.802864,78264129.0,46.680878,46.680878,46.680878
8,2000-01-13,47.346199,48.955353,47.052219,48.251347,37.007366,110363002.0,48.251347,48.251347,48.251347
9,2000-01-14,47.887741,49.767666,47.887741,48.939880,37.535461,86996234.0,48.939880,48.939880,48.939880
10,2000-01-17,49.241596,49.961071,47.508663,47.771698,36.639496,69343031.0,47.771698,47.771698,47.771698
11,2000-01-18,47.810379,49.349903,47.276573,48.614956,37.286251,65168824.0,48.614956,48.614956,48.614956
12,2000-01-19,49.953335,50.270523,48.924408,49.450478,37.927071,74204601.0,49.450478,49.450478,49.450478
13,2000-01-20,49.512367,50.270523,48.050205,48.406075,37.126041,99716250.0,48.406075,48.406075,48.406075
14,2000-01-21,48.382866,50.812065,48.274555,50.494877,38.728085,110757441.0,46.660763,50.494877,50.494877
15,2000-01-24,50.363361,51.345871,49.821819,50.463932,38.704365,85074833.0,47.428721,50.463932,50.463932
16,2000-01-25,50.293732,50.332417,49.241596,49.504631,37.968609,63033619.0,47.924876,49.504631,49.504631
17,2000-01-26,49.504631,49.504631,49.504631,49.504631,37.968609,0.0,48.311176,49.504631,49.504631
18,2000-01-27,50.904900,52.111767,49.930126,51.825523,39.748669,97039553.0,48.729968,51.825523,51.825523
19,2000-01-28,51.972511,52.900867,51.307190,52.351589,40.152142,75838844.0,48.975467,52.351589,52.351589
20,2000-01-31,51.748158,51.987984,50.525822,50.773384,38.941696,65866896.0,49.178158,50.773384,50.773384
21,2000-02-01,51.183407,52.212337,50.750175,51.686268,39.641861,69204877.0,49.648010,51.686268,51.686268
22,2000-02-02,53.055595,53.674500,52.382538,52.630096,40.365746,64312647.0,50.044624,52.630096,52.630096
23,2000-02-03,52.916340,53.148430,52.049873,52.862186,40.543751,43764594.0,50.352014,52.862186,52.862186
24,2000-02-04,53.225792,53.744125,52.869923,53.249001,40.840431,45932185.0,50.639288,53.249001,53.249001
25,2000-02-07,52.777088,54.069050,52.305172,53.163902,40.775158,52955762.0,50.998769,53.163902,53.163902
26,2000-02-08,53.457882,53.674500,52.769352,52.978233,40.632755,41561566.0,51.289654,52.978233,52.978233
27,2000-02-09,53.999424,54.873627,53.349575,54.216042,41.582123,73916538.0,51.607358,54.216042,54.216042
28,2000-02-10,53.968479,56.289371,53.365047,55.043827,42.217010,69752781.0,52.049875,55.043827,55.043827
29,2000-02-11,56.320316,57.867577,55.709148,56.212009,43.112968,52710076.0,52.431017,49.545890,56.212009
30,2000-02-14,55.546684,55.840664,54.154148,54.479076,41.783863,33138542.0,52.698693,50.063707,54.479076
31,2000-02-15,54.463604,54.834946,52.924076,53.279949,40.864162,52507848.0,52.950381,50.437629,53.279949
32,2000-02-16,54.154148,54.742111,53.086540,53.867908,41.315105,50905372.0,53.241266,50.776221,53.867908
33,2000-02-17,53.798279,55.206287,53.767334,54.858154,42.074596,49576753.0,53.443442,51.086705,54.858154
34,2000-02-18,55.221760,55.384224,53.844700,54.069050,41.469376,32513360.0,53.557939,51.266703,54.069050
35,2000-02-21,53.906590,54.463604,52.862186,53.481091,41.018436,19029776.0,53.738453,51.458305,53.481091
36,2000-02-22,53.535248,53.689972,51.446442,51.732685,39.677460,46483688.0,53.741547,51.694779,51.732685
37,2000-02-23,53.334103,53.334103,50.641869,51.028683,39.137508,31227592.0,53.634786,51.839705,51.028683
38,2000-02-24,51.508331,52.715199,50.951321,52.104031,39.962273,36605791.0,53.584243,51.968128,52.104031
39,2000-02-25,52.823505,53.055595,50.456196,50.843010,38.995098,25284007.0,53.423843,52.031566,50.843010
40,2000-02-28,50.262787,52.181393,47.965103,51.539276,39.529114,32483223.0,53.315535,52.157152,51.539276
41,2000-02-29,52.281963,53.047859,47.415829,48.096622,36.888706,64437118.0,52.990094,52.139874,48.096622
42,2000-03-01,48.738735,51.036419,46.263119,49.017242,37.594788,69580276.0,52.643508,52.125433,49.017242
43,2000-03-02,49.334431,49.821819,45.102673,45.141354,34.622097,81022150.0,51.983343,52.016609,45.141354
44,2000-03-03,44.267151,44.267151,41.536232,41.536232,31.857077,29967630.0,51.004958,51.717987,41.536232
45,2000-03-06,41.536232,43.919018,38.217358,39.292706,30.136353,67414030.0,49.992533,51.345613,39.292706
46,2000-03-07,39.764618,40.074070,37.134274,37.490143,28.753838,61789492.0,48.939879,50.945130,37.490143
47,2000-03-08,38.201885,38.758900,35.587013,36.043453,27.644276,46898188.0,47.751582,50.496424,36.043453
48,2000-03-09,36.499897,37.505615,34.681866,35.788158,27.448471,35842630.0,46.480249,49.961845,35.788158
49,2000-03-10,36.205917,36.329697,33.204231,33.552364,25.733688,42637713.0,45.112470,49.335205,33.552364
50,2000-03-13,34.024281,35.509651,30.991646,31.440351,24.113829,69577129.0,43.643087,48.690770,31.440351
51,2000-03-14,31.796223,33.962387,30.504259,33.915970,26.012556,65317454.0,42.455306,48.098427,33.915970
52,2000-03-15,34.658657,36.631413,33.420849,36.631413,28.095222,36911809.0,41.495488,47.565137,36.631413
53,2000-03-16,37.056911,38.341137,35.602486,36.337437,27.869751,68277374.0,40.444382,47.014312,36.337437
54,2000-03-17,36.337437,36.337437,36.337437,36.337437,27.869751,0.0,39.477344,46.450594,36.337437
55,2000-03-20,36.337437,36.337437,36.337437,36.337437,27.869751,0.0,38.463888,45.889711,36.337437
56,2000-03-21,36.948605,37.567509,35.215672,36.809349,28.231697,44194444.0,37.711403,45.350749,36.809349
57,2000-03-22,37.907906,38.449448,37.319946,37.660343,28.884377,31873171.0,36.954276,44.798892,37.660343
58,2000-03-23,37.946587,38.031685,36.909920,37.281265,28.593645,27701407.0,36.430271,44.206807,37.281265
59,2000-03-24,37.010494,37.590717,36.770668,37.227112,28.552105,17048508.0,36.142996,43.573977,46.559933

In [62]:
#Calculating RSi
df['difference'] = df['Close'].diff()

In [63]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,moving_average_15,moving_average_30,moving_average_60,difference
0,2000-01-03,36.747459,38.944569,36.747459,38.944569,29.869350,28802010.0,38.944569,38.944569,38.944569,NaN
1,2000-01-04,39.981236,42.062302,38.882679,42.062302,32.260563,61320457.0,42.062302,42.062302,42.062302,3.117733
2,2000-01-05,39.710464,44.545658,39.710464,43.710136,33.524399,173426953.0,43.710136,43.710136,43.710136,1.647834
3,2000-01-06,44.715855,46.526150,44.715855,45.543640,34.930637,101355113.0,45.543640,45.543640,45.543640,1.833504
4,2000-01-07,45.644211,49.187443,45.334759,48.669109,37.327774,128426756.0,48.669109,48.669109,48.669109,3.125469

In [64]:
df['up'] = df['difference'].clip(lower = 0)

In [65]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,moving_average_15,moving_average_30,moving_average_60,difference,up
0,2000-01-03,36.747459,38.944569,36.747459,38.944569,29.869350,28802010.0,38.944569,38.944569,38.944569,NaN,NaN
1,2000-01-04,39.981236,42.062302,38.882679,42.062302,32.260563,61320457.0,42.062302,42.062302,42.062302,3.117733,3.117733
2,2000-01-05,39.710464,44.545658,39.710464,43.710136,33.524399,173426953.0,43.710136,43.710136,43.710136,1.647834,1.647834
3,2000-01-06,44.715855,46.526150,44.715855,45.543640,34.930637,101355113.0,45.543640,45.543640,45.543640,1.833504,1.833504
4,2000-01-07,45.644211,49.187443,45.334759,48.669109,37.327774,128426756.0,48.669109,48.669109,48.669109,3.125469,3.125469

In [66]:
df.head(30)

,Date,Open,High,Low,Close,Adj Close,Volume,moving_average_15,moving_average_30,moving_average_60,difference,up
0,2000-01-03,36.747459,38.944569,36.747459,38.944569,29.869350,28802010.0,38.944569,38.944569,38.944569,NaN,NaN
1,2000-01-04,39.981236,42.062302,38.882679,42.062302,32.260563,61320457.0,42.062302,42.062302,42.062302,3.117733,3.117733
2,2000-01-05,39.710464,44.545658,39.710464,43.710136,33.524399,173426953.0,43.710136,43.710136,43.710136,1.647834,1.647834
3,2000-01-06,44.715855,46.526150,44.715855,45.543640,34.930637,101355113.0,45.543640,45.543640,45.543640,1.833504,1.833504
4,2000-01-07,45.644211,49.187443,45.334759,48.669109,37.327774,128426756.0,48.669109,48.669109,48.669109,3.125469,3.125469
5,2000-01-10,49.110077,49.311222,47.237892,47.733013,36.609821,86714866.0,47.733013,47.733013,47.733013,-0.936096,0.000000
6,2000-01-11,47.647915,48.112095,43.919018,44.638493,34.236420,81074352.0,44.638493,44.638493,44.638493,-3.094520,0.000000
7,2000-01-12,44.715855,47.191475,43.655979,46.680878,35.802864,78264129.0,46.680878,46.680878,46.680878,2.042385,2.042385
8,2000-01-13,47.346199,48.955353,47.052219,48.251347,37.007366,110363002.0,48.251347,48.251347,48.251347,1.570469,1.570469
9,2000-01-14,47.887741,49.767666,47.887741,48.939880,37.535461,86996234.0,48.939880,48.939880,48.939880,0.688533,0.688533
10,2000-01-17,49.241596,49.961071,47.508663,47.771698,36.639496,69343031.0,47.771698,47.771698,47.771698,-1.168182,0.000000
11,2000-01-18,47.810379,49.349903,47.276573,48.614956,37.286251,65168824.0,48.614956,48.614956,48.614956,0.843258,0.843258
12,2000-01-19,49.953335,50.270523,48.924408,49.450478,37.927071,74204601.0,49.450478,49.450478,49.450478,0.835522,0.835522
13,2000-01-20,49.512367,50.270523,48.050205,48.406075,37.126041,99716250.0,48.406075,48.406075,48.406075,-1.044403,0.000000
14,2000-01-21,48.382866,50.812065,48.274555,50.494877,38.728085,110757441.0,46.660763,50.494877,50.494877,2.088802,2.088802
15,2000-01-24,50.363361,51.345871,49.821819,50.463932,38.704365,85074833.0,47.428721,50.463932,50.463932,-0.030945,0.000000
16,2000-01-25,50.293732,50.332417,49.241596,49.504631,37.968609,63033619.0,47.924876,49.504631,49.504631,-0.959301,0.000000
17,2000-01-26,49.504631,49.504631,49.504631,49.504631,37.968609,0.0,48.311176,49.504631,49.504631,0.000000,0.000000
18,2000-01-27,50.904900,52.111767,49.930126,51.825523,39.748669,97039553.0,48.729968,51.825523,51.825523,2.320892,2.320892
19,2000-01-28,51.972511,52.900867,51.307190,52.351589,40.152142,75838844.0,48.975467,52.351589,52.351589,0.526066,0.526066
20,2000-01-31,51.748158,51.987984,50.525822,50.773384,38.941696,65866896.0,49.178158,50.773384,50.773384,-1.578205,0.000000
21,2000-02-01,51.183407,52.212337,50.750175,51.686268,39.641861,69204877.0,49.648010,51.686268,51.686268,0.912884,0.912884
22,2000-02-02,53.055595,53.674500,52.382538,52.630096,40.365746,64312647.0,50.044624,52.630096,52.630096,0.943828,0.943828
23,2000-02-03,52.916340,53.148430,52.049873,52.862186,40.543751,43764594.0,50.352014,52.862186,52.862186,0.232090,0.232090
24,2000-02-04,53.225792,53.744125,52.869923,53.249001,40.840431,45932185.0,50.639288,53.249001,53.249001,0.386815,0.386815
25,2000-02-07,52.777088,54.069050,52.305172,53.163902,40.775158,52955762.0,50.998769,53.163902,53.163902,-0.085099,0.000000
26,2000-02-08,53.457882,53.674500,52.769352,52.978233,40.632755,41561566.0,51.289654,52.978233,52.978233,-0.185669,0.000000
27,2000-02-09,53.999424,54.873627,53.349575,54.216042,41.582123,73916538.0,51.607358,54.216042,54.216042,1.237809,1.237809
28,2000-02-10,53.968479,56.289371,53.365047,55.043827,42.217010,69752781.0,52.049875,55.043827,55.043827,0.827785,0.827785
29,2000-02-11,56.320316,57.867577,55.709148,56.212009,43.112968,52710076.0,52.431017,49.545890,56.212009,1.168182,1.168182

In [67]:
df['down'] = -1*df['difference'].clip(upper = 0)

In [68]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,moving_average_15,moving_average_30,moving_average_60,difference,up,down
0,2000-01-03,36.747459,38.944569,36.747459,38.944569,29.869350,28802010.0,38.944569,38.944569,38.944569,NaN,NaN,NaN
1,2000-01-04,39.981236,42.062302,38.882679,42.062302,32.260563,61320457.0,42.062302,42.062302,42.062302,3.117733,3.117733,-0.0
2,2000-01-05,39.710464,44.545658,39.710464,43.710136,33.524399,173426953.0,43.710136,43.710136,43.710136,1.647834,1.647834,-0.0
3,2000-01-06,44.715855,46.526150,44.715855,45.543640,34.930637,101355113.0,45.543640,45.543640,45.543640,1.833504,1.833504,-0.0
4,2000-01-07,45.644211,49.187443,45.334759,48.669109,37.327774,128426756.0,48.669109,48.669109,48.669109,3.125469,3.125469,-0.0

In [69]:
ema_up = df['up'].ewm(com=13, adjust=False).mean()

In [70]:
ema_down = df['down'].ewm(com=13, adjust=False).mean()

In [71]:
rs = ema_up/ema_down

In [72]:
df['RSI'] = 100 - (100/(1 + rs))

In [73]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,moving_average_15,moving_average_30,moving_average_60,difference,up,down,RSI
0,2000-01-03,36.747459,38.944569,36.747459,38.944569,29.869350,28802010.0,38.944569,38.944569,38.944569,NaN,NaN,NaN,NaN
1,2000-01-04,39.981236,42.062302,38.882679,42.062302,32.260563,61320457.0,42.062302,42.062302,42.062302,3.117733,3.117733,-0.0,100.0
2,2000-01-05,39.710464,44.545658,39.710464,43.710136,33.524399,173426953.0,43.710136,43.710136,43.710136,1.647834,1.647834,-0.0,100.0
3,2000-01-06,44.715855,46.526150,44.715855,45.543640,34.930637,101355113.0,45.543640,45.543640,45.543640,1.833504,1.833504,-0.0,100.0
4,2000-01-07,45.644211,49.187443,45.334759,48.669109,37.327774,128426756.0,48.669109,48.669109,48.669109,3.125469,3.125469,-0.0,100.0

In [74]:
df.head(60)

,Date,Open,High,Low,Close,Adj Close,Volume,moving_average_15,moving_average_30,moving_average_60,difference,up,down,RSI
0,2000-01-03,36.747459,38.944569,36.747459,38.944569,29.869350,28802010.0,38.944569,38.944569,38.944569,NaN,NaN,NaN,NaN
1,2000-01-04,39.981236,42.062302,38.882679,42.062302,32.260563,61320457.0,42.062302,42.062302,42.062302,3.117733,3.117733,-0.000000,100.000000
2,2000-01-05,39.710464,44.545658,39.710464,43.710136,33.524399,173426953.0,43.710136,43.710136,43.710136,1.647834,1.647834,-0.000000,100.000000
3,2000-01-06,44.715855,46.526150,44.715855,45.543640,34.930637,101355113.0,45.543640,45.543640,45.543640,1.833504,1.833504,-0.000000,100.000000
4,2000-01-07,45.644211,49.187443,45.334759,48.669109,37.327774,128426756.0,48.669109,48.669109,48.669109,3.125469,3.125469,-0.000000,100.000000
5,2000-01-10,49.110077,49.311222,47.237892,47.733013,36.609821,86714866.0,47.733013,47.733013,47.733013,-0.936096,0.000000,0.936096,97.611367
6,2000-01-11,47.647915,48.112095,43.919018,44.638493,34.236420,81074352.0,44.638493,44.638493,44.638493,-3.094520,0.000000,3.094520,89.961339
7,2000-01-12,44.715855,47.191475,43.655979,46.680878,35.802864,78264129.0,46.680878,46.680878,46.680878,2.042385,2.042385,-0.000000,90.491033
8,2000-01-13,47.346199,48.955353,47.052219,48.251347,37.007366,110363002.0,48.251347,48.251347,48.251347,1.570469,1.570469,-0.000000,90.889127
9,2000-01-14,47.887741,49.767666,47.887741,48.939880,37.535461,86996234.0,48.939880,48.939880,48.939880,0.688533,0.688533,-0.000000,91.065727
10,2000-01-17,49.241596,49.961071,47.508663,47.771698,36.639496,69343031.0,47.771698,47.771698,47.771698,-1.168182,0.000000,1.168182,87.950842
11,2000-01-18,47.810379,49.349903,47.276573,48.614956,37.286251,65168824.0,48.614956,48.614956,48.614956,0.843258,0.843258,-0.000000,88.262933
12,2000-01-19,49.953335,50.270523,48.924408,49.450478,37.927071,74204601.0,49.450478,49.450478,49.450478,0.835522,0.835522,-0.000000,88.578598
13,2000-01-20,49.512367,50.270523,48.050205,48.406075,37.126041,99716250.0,48.406075,48.406075,48.406075,-1.044403,0.000000,1.044403,85.483711
14,2000-01-21,48.382866,50.812065,48.274555,50.494877,38.728085,110757441.0,46.660763,50.494877,50.494877,2.088802,2.088802,-0.000000,86.499666
15,2000-01-24,50.363361,51.345871,49.821819,50.463932,38.704365,85074833.0,47.428721,50.463932,50.463932,-0.030945,0.000000,0.030945,86.403188
16,2000-01-25,50.293732,50.332417,49.241596,49.504631,37.968609,63033619.0,47.924876,49.504631,49.504631,-0.959301,0.000000,0.959301,83.301392
17,2000-01-26,49.504631,49.504631,49.504631,49.504631,37.968609,0.0,48.311176,49.504631,49.504631,0.000000,0.000000,-0.000000,83.301392
18,2000-01-27,50.904900,52.111767,49.930126,51.825523,39.748669,97039553.0,48.729968,51.825523,51.825523,2.320892,2.320892,-0.000000,84.829496
19,2000-01-28,51.972511,52.900867,51.307190,52.351589,40.152142,75838844.0,48.975467,52.351589,52.351589,0.526066,0.526066,-0.000000,85.160969
20,2000-01-31,51.748158,51.987984,50.525822,50.773384,38.941696,65866896.0,49.178158,50.773384,50.773384,-1.578205,0.000000,1.578205,79.545673
21,2000-02-01,51.183407,52.212337,50.750175,51.686268,39.641861,69204877.0,49.648010,51.686268,51.686268,0.912884,0.912884,-0.000000,80.352671
22,2000-02-02,53.055595,53.674500,52.382538,52.630096,40.365746,64312647.0,50.044624,52.630096,52.630096,0.943828,0.943828,-0.000000,81.179436
23,2000-02-03,52.916340,53.148430,52.049873,52.862186,40.543751,43764594.0,50.352014,52.862186,52.862186,0.232090,0.232090,-0.000000,81.386854
24,2000-02-04,53.225792,53.744125,52.869923,53.249001,40.840431,45932185.0,50.639288,53.249001,53.249001,0.386815,0.386815,-0.000000,81.747896
25,2000-02-07,52.777088,54.069050,52.305172,53.163902,40.775158,52955762.0,50.998769,53.163902,53.163902,-0.085099,0.000000,0.085099,81.373932
26,2000-02-08,53.457882,53.674500,52.769352,52.978233,40.632755,41561566.0,51.289654,52.978233,52.978233,-0.185669,0.000000,0.185669,80.508576
27,2000-02-09,53.999424,54.873627,53.349575,54.216042,41.582123,73916538.0,51.607358,54.216042,54.216042,1.237809,1.237809,-0.000000,81.891182
28,2000-02-10,53.968479,56.289371,53.365047,55.043827,42.217010,69752781.0,52.049875,55.043827,55.043827,0.827785,0.827785,-0.000000,82.771330
29,2000-02-11,56.320316,57.867577,55.709148,56.212009,43.112968,52710076.0,52.431017,49.545890,56.212009,1.168182,1.168182,-0.000000,83.956401
30,2000-02-14,55.546684,55.840664,54.154148,54.479076,41.783863,33138542.0,52.698693,50.063707,54.479076,-1.732933,0.000000,1.732933,75.644056
31,2000-02-15,54.463604,54.834946,52.924076,53.279949,40.864162,52507848.0,52.950381,50.437629,53.279949,-1.199127,0.000000,1.199127,70.446521
32,2000-02-16,54.154148,54.742111,53.086540,53.867908,41.315105,50905372.0,53.241266,50.776221,53.867908,0.587959,0.587959,-0.000000,71.481234
33,2000-02-17,53.798279,55.206287,53.767334,54.858154,42.074596,49576753.0,53.443442,51.086705,54.858154,0.990246,0.990246,-0.000000,73.184114
34,2000-02-18,55.221760,55.384224,53.844700,54.069050,41.469376,32513360.0,53.557939,51.266703,54.069050,-0.789104,0.000000,0.789104,69.616785
35,2000-02-21,53.906590,54.463604,52.862186,53.481091,41.018436,19029776.0,53.738453,51.458305,53.481091,-0.587959,0.000000,0.587959,66.996341
36,2000-02-22,53.535248,53.689972,51.446442,51.732685,39.677460,46483688.0,53.741547,51.694779,51.732685,-1.748406,0.000000,1.748406,59.789190
37,2000-02-23,53.334103,53.334103,50.641869,51.028683,39.137508,31227592.0,53.634786,51.839705,51.028683,-0.704002,0.000000,0.704002,57.124474
38,2000-02-24,51.508331,52.715199,50.951321,52.104031,39.962273,36605791.0,53.584243,51.968128,52.104031,1.075348,1.075348,-0.000000,60.053146
39,2000-02-25,52.823505,53.055595,50.456196,50.843010,38.995098,25284007.0,53.423843,52.031566,50.843010,-1.261021,0.000000,1.261021,55.284221
40,2000-02-28,50.262787,52.181393,47.965103,51.539276,39.529114,32483223.0,53.315535,52.157152,51.539276,0.696266,0.696266,-0.000000,57.300475
41,2000-02-29,52.281963,53.047859,47.415829,48.096622,36.888706,64437118.0,52.990094,52.139874,48.096622,-3.442654,0.000000,3.442654,46.206434
42,2000-03-01,48.738735,51.036419,46.263119,49.017242,37.594788,69580276.0,52.643508,52.125433,49.017242,0.920620,0.920620,-0.000000,49.047422
43,2000-03-02,49.334431,49.821819,45.102673,45.141354,34.622097,81022150.0,51.983343,52.016609,45.141354,-3.875888,0.000000,3.875888,39.571929
44,2000-03-03,44.267151,44.267151,41.536232,41.536232,31.857077,29967630.0,51.004958,51.717987,41.536232,-3.605122,0.000000,3.605122,33.155732
45,2000-03-06,41.536232,43.919018,38.217358,39.292706,30.136353,67414030.0,49.992533,51.345613,39.292706,-2.243526,0.000000,2.243526,29.906020
46,2000-03-07,39.764618,40.074070,37.134274,37.490143,28.753838,61789492.0,48.939879,50.945130,37.490143,-1.802563,0.000000,1.802563,27.568062
47,2000-03-08,38.201885,38.758900,35.587013,36.043453,27.644276,46898188.0,47.751582,50.496424,36.043453,-1.446690,0.000000,1.446690,25.823213
48,2000-03-09,36.499897,37.505615,34.681866,35.788158,27.448471,35842630.0,46.480249,49.961845,35.788158,-0.255295,0.000000,0.255295,25.516296
49,2000-03-10,36.205917,36.329697,33.204231,33.552364,25.733688,42637713.0,45.112470,49.335205,33.552364,-2.235794,0.000000,2.235794,22.944357
50,2000-03-13,34.024281,35.509651,30.991646,31.440351,24.113829,69577129.0,43.643087,48.690770,31.440351,-2.112013,0.000000,2.112013,20.810457
51,2000-03-14,31.796223,33.962387,30.504259,33.915970,26.012556,65317454.0,42.455306,48.098427,33.915970,2.475619,2.475619,-0.000000,29.130567
52,2000-03-15,34.658657,36.631413,33.420849,36.631413,28.095222,36911809.0,41.495488,47.565137,36.631413,2.715443,2.715443,-0.000000,36.955009
53,2000-03-16,37.056911,38.341137,35.602486,36.337437,27.869751,68277374.0,40.444382,47.014312,36.337437,-0.293976,0.000000,0.293976,36.485365
54,2000-03-17,36.337437,36.337437,36.337437,36.337437,27.869751,0.0,39.477344,46.450594,36.337437,0.000000,0.000000,-0.000000,36.485365
55,2000-03-20,36.337437,36.337437,36.337437,36.337437,27.869751,0.0,38.463888,45.889711,36.337437,0.000000,0.000000,-0.000000,36.485365
56,2000-03-21,36.948605,37.567509,35.215672,36.809349,28.231697,44194444.0,37.711403,45.350749,36.809349,0.471912,0.471912,-0.000000,38.063505
57,2000-03-22,37.907906,38.449448,37.319946,37.660343,28.884377,31873171.0,36.954276,44.798892,37.660343,0.850994,0.850994,-0.000000,40.914539
58,2000-03-23,37.946587,38.031685,36.909920,37.281265,28.593645,27701407.0,36.430271,44.206807,37.281265,-0.379078,0.000000,0.379078,40.030575
59,2000-03-24,37.010494,37.590717,36.770668,37.227112,28.552105,17048508.0,36.142996,43.573977,46.559933,-0.054153,0.000000,0.054153,39.897962

In [75]:
df.drop(['up','down','difference'],axis = 1,inplace = True)

In [76]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,moving_average_15,moving_average_30,moving_average_60,RSI
0,2000-01-03,36.747459,38.944569,36.747459,38.944569,29.869350,28802010.0,38.944569,38.944569,38.944569,NaN
1,2000-01-04,39.981236,42.062302,38.882679,42.062302,32.260563,61320457.0,42.062302,42.062302,42.062302,100.0
2,2000-01-05,39.710464,44.545658,39.710464,43.710136,33.524399,173426953.0,43.710136,43.710136,43.710136,100.0
3,2000-01-06,44.715855,46.526150,44.715855,45.543640,34.930637,101355113.0,45.543640,45.543640,45.543640,100.0
4,2000-01-07,45.644211,49.187443,45.334759,48.669109,37.327774,128426756.0,48.669109,48.669109,48.669109,100.0

In [77]:
value = df['RSI'].mean()
value

52.91628892388808

In [78]:
df['RSI'] = df['RSI'].fillna(value = value)

In [79]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,moving_average_15,moving_average_30,moving_average_60,RSI
0,2000-01-03,36.747459,38.944569,36.747459,38.944569,29.869350,28802010.0,38.944569,38.944569,38.944569,52.916289
1,2000-01-04,39.981236,42.062302,38.882679,42.062302,32.260563,61320457.0,42.062302,42.062302,42.062302,100.000000
2,2000-01-05,39.710464,44.545658,39.710464,43.710136,33.524399,173426953.0,43.710136,43.710136,43.710136,100.000000
3,2000-01-06,44.715855,46.526150,44.715855,45.543640,34.930637,101355113.0,45.543640,45.543640,45.543640,100.000000
4,2000-01-07,45.644211,49.187443,45.334759,48.669109,37.327774,128426756.0,48.669109,48.669109,48.669109,100.000000

In [80]:
#Calculating Bollinger Band

df['15_MA'] = df['Close'].rolling(window = 15).mean()
df['15_SD'] = df['Close'].rolling(window = 15).std()

In [81]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,moving_average_15,moving_average_30,moving_average_60,RSI,15_MA,15_SD
0,2000-01-03,36.747459,38.944569,36.747459,38.944569,29.869350,28802010.0,38.944569,38.944569,38.944569,52.916289,NaN,NaN
1,2000-01-04,39.981236,42.062302,38.882679,42.062302,32.260563,61320457.0,42.062302,42.062302,42.062302,100.000000,NaN,NaN
2,2000-01-05,39.710464,44.545658,39.710464,43.710136,33.524399,173426953.0,43.710136,43.710136,43.710136,100.000000,NaN,NaN
3,2000-01-06,44.715855,46.526150,44.715855,45.543640,34.930637,101355113.0,45.543640,45.543640,45.543640,100.000000,NaN,NaN
4,2000-01-07,45.644211,49.187443,45.334759,48.669109,37.327774,128426756.0,48.669109,48.669109,48.669109,100.000000,NaN,NaN

In [82]:
df['Bollinger_Upper'] = df['15_SD'] + 2*df['15_SD']
df['Bollinger_Lower'] = df['15_SD'] - 2*df['15_SD']

In [83]:
df.head(15)

,Date,Open,High,Low,Close,Adj Close,Volume,moving_average_15,moving_average_30,moving_average_60,RSI,15_MA,15_SD,Bollinger_Upper,Bollinger_Lower
0,2000-01-03,36.747459,38.944569,36.747459,38.944569,29.869350,28802010.0,38.944569,38.944569,38.944569,52.916289,NaN,NaN,NaN,NaN
1,2000-01-04,39.981236,42.062302,38.882679,42.062302,32.260563,61320457.0,42.062302,42.062302,42.062302,100.000000,NaN,NaN,NaN,NaN
2,2000-01-05,39.710464,44.545658,39.710464,43.710136,33.524399,173426953.0,43.710136,43.710136,43.710136,100.000000,NaN,NaN,NaN,NaN
3,2000-01-06,44.715855,46.526150,44.715855,45.543640,34.930637,101355113.0,45.543640,45.543640,45.543640,100.000000,NaN,NaN,NaN,NaN
4,2000-01-07,45.644211,49.187443,45.334759,48.669109,37.327774,128426756.0,48.669109,48.669109,48.669109,100.000000,NaN,NaN,NaN,NaN
5,2000-01-10,49.110077,49.311222,47.237892,47.733013,36.609821,86714866.0,47.733013,47.733013,47.733013,97.611367,NaN,NaN,NaN,NaN
6,2000-01-11,47.647915,48.112095,43.919018,44.638493,34.236420,81074352.0,44.638493,44.638493,44.638493,89.961339,NaN,NaN,NaN,NaN
7,2000-01-12,44.715855,47.191475,43.655979,46.680878,35.802864,78264129.0,46.680878,46.680878,46.680878,90.491033,NaN,NaN,NaN,NaN
8,2000-01-13,47.346199,48.955353,47.052219,48.251347,37.007366,110363002.0,48.251347,48.251347,48.251347,90.889127,NaN,NaN,NaN,NaN
9,2000-01-14,47.887741,49.767666,47.887741,48.939880,37.535461,86996234.0,48.939880,48.939880,48.939880,91.065727,NaN,NaN,NaN,NaN
10,2000-01-17,49.241596,49.961071,47.508663,47.771698,36.639496,69343031.0,47.771698,47.771698,47.771698,87.950842,NaN,NaN,NaN,NaN
11,2000-01-18,47.810379,49.349903,47.276573,48.614956,37.286251,65168824.0,48.614956,48.614956,48.614956,88.262933,NaN,NaN,NaN,NaN
12,2000-01-19,49.953335,50.270523,48.924408,49.450478,37.927071,74204601.0,49.450478,49.450478,49.450478,88.578598,NaN,NaN,NaN,NaN
13,2000-01-20,49.512367,50.270523,48.050205,48.406075,37.126041,99716250.0,48.406075,48.406075,48.406075,85.483711,NaN,NaN,NaN,NaN
14,2000-01-21,48.382866,50.812065,48.274555,50.494877,38.728085,110757441.0,46.660763,50.494877,50.494877,86.499666,46.660763,3.142102,9.426305,-3.142102

In [84]:
value1 = df['Bollinger_Upper'].mean()

In [85]:
df['Bollinger_Upper'] = df['Bollinger_Upper'].fillna(value= value1)

In [86]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,moving_average_15,moving_average_30,moving_average_60,RSI,15_MA,15_SD,Bollinger_Upper,Bollinger_Lower
0,2000-01-03,36.747459,38.944569,36.747459,38.944569,29.869350,28802010.0,38.944569,38.944569,38.944569,52.916289,NaN,NaN,43.573417,NaN
1,2000-01-04,39.981236,42.062302,38.882679,42.062302,32.260563,61320457.0,42.062302,42.062302,42.062302,100.000000,NaN,NaN,43.573417,NaN
2,2000-01-05,39.710464,44.545658,39.710464,43.710136,33.524399,173426953.0,43.710136,43.710136,43.710136,100.000000,NaN,NaN,43.573417,NaN
3,2000-01-06,44.715855,46.526150,44.715855,45.543640,34.930637,101355113.0,45.543640,45.543640,45.543640,100.000000,NaN,NaN,43.573417,NaN
4,2000-01-07,45.644211,49.187443,45.334759,48.669109,37.327774,128426756.0,48.669109,48.669109,48.669109,100.000000,NaN,NaN,43.573417,NaN

In [87]:
value2 = df['Bollinger_Lower'].mean()

In [88]:
df['Bollinger_Lower'] = df['Bollinger_Lower'].fillna(value= value2)

In [89]:
df = df.drop(['15_MA','15_SD'],axis =1)

In [90]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,moving_average_15,moving_average_30,moving_average_60,RSI,Bollinger_Upper,Bollinger_Lower
0,2000-01-03,36.747459,38.944569,36.747459,38.944569,29.869350,28802010.0,38.944569,38.944569,38.944569,52.916289,43.573417,-14.524472
1,2000-01-04,39.981236,42.062302,38.882679,42.062302,32.260563,61320457.0,42.062302,42.062302,42.062302,100.000000,43.573417,-14.524472
2,2000-01-05,39.710464,44.545658,39.710464,43.710136,33.524399,173426953.0,43.710136,43.710136,43.710136,100.000000,43.573417,-14.524472
3,2000-01-06,44.715855,46.526150,44.715855,45.543640,34.930637,101355113.0,45.543640,45.543640,45.543640,100.000000,43.573417,-14.524472
4,2000-01-07,45.644211,49.187443,45.334759,48.669109,37.327774,128426756.0,48.669109,48.669109,48.669109,100.000000,43.573417,-14.524472

In [91]:
df.to_csv('Final_Dataset.csv')